*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-light: #F5EEDC;
    --accent-dark: #DDA853;
    --text-light: #27548A;
    --text-dark: #183B4E;
    --white: #fefefe;
}

p{
    color: var(--text-light);
    font-size: 1.2rem;
}

li{
    list-style: none;
}

/* utility class */
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

body{
    width: 100%;
    font-family: roboto, 'sans-serif';
}


/* header section */
.main-section{
    width: 100%;
    height: 110vh;
    padding: 30px 0px;
    background: url('./assets/background.jpg');
}

.logo-section{
    padding: 20px 0px;
    margin-bottom: 80px;
}


.logo-section .logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--text-dark);
}

.logo-section .logo i{
    font-size: 1.7rem;
}

.hero-section{
    /* background-color: green; */
    width: 100%;
    height: 90vh;
    display: flex;
}

.hero-section .hero-text{
    flex: 1;
    padding: 3rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-text .title{
    font-size: 5rem;
    color: #DDA853;
  background-image: linear-gradient(135deg, #DDA853 20%, #183B4E 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hero-text .desc{
    width: 90%;
}

.hero-text .review{
    cursor: pointer;
    display: inline-block;
    width: 70%;
    height: 50px;
    outline: 0;
    border: 2px solid var(--text-dark);
    border-radius: 10px;
    font-size: 20px;
    color: var(--text-dark);
    background: transparent;
}

.hero-text .users{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.users .user-img img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.users .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users .info i{
    color: var(--accent-dark);
}



.hero-section .hero-image{
    flex: 1;
    padding: 30px 40px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* feature-section - 1 */

.feature-section{
    width: 100%;
    height: 700px;
    padding: 100px 0px;
}

.feature-section .container{
    display: flex;
    align-items: center;
}

.feature-section .container .feature-img{
    flex: 1;
}

.feature-img img{
    height: 500px;
    width: 550px;
    border-radius: 15px;
}


.feature-section .container .feature-text{
    flex: 1;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.feature-text h2{
    font-size: 3rem;
    width: 400px;
    color: var(--text-dark);
}

.feature-text p{
    width: 450px;
}

.feature-text p span{
    font-weight: bold;
    color: var(--text-dark);
}

.feature-text ul{
    width: 400px;
}

.feature-text ul li{
    width: 350px;
    margin-bottom: 5px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.feature-text ul li i{
    font-size: 1.4rem;
    color: var(--text-light);
}


/* roadmap-section */

.roadmap{
    margin-bottom: 100px;
}

.roadmap .container{
    height: 500px;
    padding: 0px 50px;
    border-radius: 15px;
    background: url('./assets/background.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.roadmap .roadmap-heading{
    font-size: 3rem;
    width: 350px;
    color: var(--text-dark);
    text-align: center;  
}

.roadmap .steps{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps .step{
    width: 250px;
}

.steps .step .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.step .icon p{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid var(--text-light);
    border-radius: 3px;
    font-weight: bold;
}

.step .icon i{
    color: var(--accent-dark);
    font-size: 2.4rem;
}

.steps .step .text{
    width: 200px;
}

/* membership-options */

.membership-options{
    margin-bottom: 100px;
    padding: 50px 0px;
}

.membership-options .membership-heading{
    font-size: 3rem;
    color: var(--text-dark);
    text-align: center;  
    margin-bottom: 50px;
}
.membership-options .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.membership-options .cards .card{
    height: 400px;
    width: 350px;
    border: 1px solid var(--accent-dark);
    padding: 30px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards .card.active{
    scale: 1.1;
    border: 0;
    background: #F5EEDC;
    background: linear-gradient(160deg,rgba(245, 238, 220, 1) 70%, rgba(39, 84, 138, 1) 100%);
}

.card .card-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-light);
}

.card-heading h4{
    font-size: 1.4rem;
    color: var(--text-dark);
    text-transform: capitalize;
}

.card .price span{
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 5px;
}


.card-info div{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-info div i{
    color: var(--text-light);
    font-size: 1.5rem;
}

.card .subscribe{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    color: var(--text-dark);
    font-weight: bold;
    outline: 0;
    border: 2px solid var(--text-dark);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent-light);
    text-transform: uppercase;
}