*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utility class */
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: roboto, 'sans-serif';
}


/* header section */
.main-section{
    width: 100%;
    height: 110vh;
    padding: 50px 0px;
    /* background-color: lightblue; */
    background: url('./assets/background.jpg');
}

.logo-section{
    padding: 20px 0px;
    margin-bottom: 100px;
}


.logo-section .logo{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}


.hero-section{
    background-color: green;
    width: 100%;
    display: flex;
}

.hero-section .hero-text{
    flex: 1;
}

.hero-section .hero-image{
    flex: 1;

}

.hero-image img{
    width: 100%;
}