*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-light: #F5EEDC;
    --accent-dark: #DDA853;
    --text-light: #27548A;
    --text-dark: #183B4E;
    --white: #fefefe;
}

/* utility class */
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: roboto, 'sans-serif';
}


/* header section */
.main-section{
    width: 100%;
    height: 110vh;
    padding: 30px 0px;
    background: url('./assets/background.jpg');
}

.logo-section{
    padding: 20px 0px;
    margin-bottom: 80px;
}


.logo-section .logo{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}


.hero-section{
    /* background-color: green; */
    width: 100%;
    height: 90vh;
    display: flex;
}

.hero-section .hero-text{
    flex: 1;
    background-color: green;
    padding: 3rem 0px;
}

.hero-text .title{
    width: 50%;
    font-size: 3rem;
}

.hero-section .hero-image{
    flex: 1;

}

.hero-image img{
    width: 100%;
}