*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --accent-light: #F5EEDC;
    --accent-dark: #DDA853;
    --text-light: #27548A;
    --text-dark: #183B4E;
    --white: #fefefe;
}

p{
    color: var(--text-light);
    font-size: 1.2rem;
}

/* utility class */
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: roboto, 'sans-serif';
}


/* header section */
.main-section{
    width: 100%;
    height: 110vh;
    padding: 30px 0px;
    background: url('./assets/background.jpg');
}

.logo-section{
    padding: 20px 0px;
    margin-bottom: 80px;
}


.logo-section .logo{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}


.hero-section{
    /* background-color: green; */
    width: 100%;
    height: 90vh;
    display: flex;
}

.hero-section .hero-text{
    flex: 1;
    padding: 3rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-text .title{
    font-size: 5rem;
}

.hero-text .desc{
    width: 90%;
}

.hero-text .review{
    cursor: pointer;
    display: inline-block;
    width: 70%;
    height: 50px;
    outline: 0;
    border: 2px solid var(--text-dark);
    border-radius: 10px;
    font-size: 20px;
    color: var(--text-dark);
    background: transparent;
}

.hero-text .users{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.users .user-img img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.users .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users .info i{
    color: var(--accent-dark);
}








.hero-section .hero-image{
    flex: 1;
    padding: 30px 40px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}